/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
	background-image: url(/dist/img/bg.jpg);
	background-position: 39% 25%;
	background-repeat: no-repeat;
	
}


.riot-data {
	text-align: center;
	h1 {
		font-size: 35px;
		color: yellow;
	}
}



.userResults, .rankResults {
	text-align: center;
	font-size: 35px;
	color: yellow;
	padding: 5px;
}




/* 2. Content ================================= */
